<div id="listings">
  <div class="row">
  <% Listing.all.each do |listing| %>
    <% if listing.user_id == current_user.id %>
      <div class="card col-3 shadow m-3">
        <div class="card-body">
          <h2 class="card-title"><%= listing.name %></h2>
          <p class="card-text">
            <%= simple_format truncate(listing.description, length: 300) %>
          </p>
          <p class="card-subtitle text-muted">
            <%= listing.location %>
          </p>
          <p class="card-text">
            <%= listing.property_type%>
          </p>
          <p class="card-text">
            RM<%= listing.price%>
          </p>
          <p class="card-text">
            <%= listing.size%>
          </p>
          <hr>
            <a class="" href="/my-listings/<%=listing.id%>/edit">Edit</a>
            <p class="mt-2 text-muted">Tags: <%= listing.tag_list %></p>
          </div>
        </div>
    <% end %>
  <% end %>
  </div>
</div>
