<div id="listings">
  <div class="row">
  <% @user.listings.all.each do |listing| %>
      <div id="card-<%=listing.id%>" class="card col-3 shadow m-3">
        <div class="card-body">
          <button id="close-<%=listing.id%>" class="btn p-0 fas fa-times text-muted d-block float-right bg-transparent" data-toggle='modal' data-target="#delete-listing-modal"></button>
          <h2 class="card-title"><%= listing.name %></h2>
          <p class="card-text">
            <%= simple_format truncate(listing.description, length: 300) %>
          </p>
          <p class="card-subtitle text-muted">
            <%= listing.property_type%>
          </p>
          <p class="card-text">
            <%= listing.description%>
          </p>
          <p class="card-text">
            <%= listing.address%>
          </p>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fas fa-user"></i> <%=listing.guest_number%></li>
            <li class="list-inline-item"><i class="fas fa-bed"></i> <%=listing.room_number%></li>
            <li class="list-inline-item"><i class="fas fa-bath"></i> <%=listing.bathroom_number%></li>
          </ul>
          <p class="card-text">
            <%= number_to_currency(listing.price, unit: 'RM')%>
          </p>
          <p class="card-text">
          </p>
          <hr>
            <a class="" href="/my-listings/<%=listing.id%>/edit">Edit</a>
            <p class="mt-2 text-muted">Tags: <%= listing.tag_list %></p>
          </div>
        </div>

        <div class="modal fade" id="delete-listing-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this listing?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <%=button_to "Delete", delete_listing_path(listing.id),  method: "delete", class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
  <% end %>
  </div>
</div>
