<%= form_for :user do |form| %>
<div class="text-field form-group">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'first_name', placeholder: "#{@user.first_name}", class: 'form-control' %>
</div>

<div class="text-field form-group">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'last_name', placeholder: "#{@user.last_name}", class: 'form-control' %>
</div>

<div class="field form-group">
  <%= form.label :gender %></br>
  <span class="option p-3">Male<span> <%= form.radio_button :gender, 1 %>
  <span class="option p-3">Female<span> <%= form.radio_button :gender, 2 %>
</div>

<div class="text-field form-group">
  <%= form.label :birthday %>
  <%= form.text_field :birthday, type: 'birthday', placeholder: "#{@user.birthday}", class: 'form-control', id: 'datepicker'%>
</div>

<div class="text-field form-group">
  <%= form.label :about_me %>
  <%= form.text_area :about_me, type: 'about_me', placeholder: "#{@user.about_me}", class: 'form-control'%>
</div>

<div class="field form-group">
  <%= form.label :country %>
  <%= form.country_select :country, options = {}, html_options = {:class => "form-control", :id => "user_country"} %>
</div>

<div class="text-field form-group">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', placeholder: "#{@user.email}", class: 'form-control' %>
</div>

<div class="text-field form-group">
  <%= form.label :phone %>
  <%= form.text_field :phone, type: 'phone', placeholder: "#{@user.phone}", class: 'form-control' %>
</div>

<div class="submit-field form-group">
  <%= form.submit "Save Changes", class: 'btn' %>
</div>
<% end %>

<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
