<head>
  <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<% content_for :navbar do %>
  <% if signed_in? %>
    <%= render partial: "shared/navbar" %>
  <% else %>
    <%= render partial: "shared/navbar-index" %>
  <% end %>
<% end %>
<div class="background-keep">
  <div class="container-fluid mt-4 p-0 row">
    <div class="card col-3 p-3">
      <img src="<%=@user.avatar.url%>" class="rounded-circle mx-auto d-block"style="height:250px;width:250px"/>
      <%= form_for @user , url: user_path do |f|%>
      <div class="form-group">
        <%=f.label :avatar%>
        <%=f.file_field :avatar, class: 'form-control-file'%>
      </div>
      <div class="form-group">
        <%= image_tag(@user.avatar_url) if @user.avatar? %>
        <%= f.text_field :remote_avatar_url %>
      </div>
      <div class="form-group">
        <%= f.submit "Upload Photo", class: 'btn' %>
      </div>
      <% end %>
    </div>
    <div class="card col-9 p-3">
      <h5 class="font-weight-bold">Edit Profile</h5>

      <%= render partial: '/users/form-edit'%>

    </div>

  </div>
</div>
