<div class="background-keep">
  <div class="container-fluid p-0 mt-5">
    <img src="/assets/profile-photo.jpg" class="rounded-circle mx-auto d-block" style="height:300px;width:300px;"/>
  </div>
  <div class="container-fluid p-0">
    <h1 class="text-center mt-4"><%= @user.name %></h1>
  </div>
  <div class="col-2 mx-auto d-block p-0">
    <ul class="list-inline">
    <li class="list-inline-item"><p class="m-0 card-title text-center"><%= @user.email %></p></li>
    <li class="list-inline-item"><p class="m-0 card-title text-center">0<%= @user.phone %></p></li>
    </ul>
  </div>
  <div class="container-fluid p-0 mt-5">
    <h5 class="font-weight-bold"><%=@user.name%>'s Listings</h5>
    <%= render partial: 'listings/my-listing-compact'%>
  </div>
</div>
