<h3 class="font-weight-bold mb-4">Pending Verification</h3>
<div class="row">
  <div class="col-1 font-weight-bold">ID</div>
  <div class="col-2 font-weight-bold">Name</div>
  <div class="col-1 font-weight-bold">Property Type</div>
  <div class="col-2 font-weight-bold">Country</div>
  <div class="col-2 font-weight-bold">State</div>
  <div class="col-1 font-weight-bold">Price</div>
  <div class="col-2 font-weight-bold">Host</div>
  <div class="col-1 font-weight-bold"><p class="m-0 text-left">Verify</p></div>
</div>
<hr/>
<% Listing.order(created_at: :asc).each do |listing|%>
<div class="row">
  <div class="col-1"><a href='/listings/<%=listing.id%>'><%=listing.id%></a></div>
  <div class="col-2"><%=listing.name%></div>
  <div class="col-1"><%=listing.property_type%></div>
  <div class="col-2"><%=listing.country%></div>
  <div class="col-2"><%=listing.state%></div>
  <div class="col-1"><%=number_to_currency(listing.price, unit: '$')%></div>
  <div class="col-2"><a href='/profile/<%=listing.user.id%>'><%=listing.user.name%></a></div>
  <div class="col-1">
    <% if listing.verified? %>
      <p class="font-weight-bold text-success">Verified</p>
    <% else %>
      <p class="font-weight-bold text-warning">Not Verified</p>
    <% end %>
  </div>
</div>
</div>
<hr/>
<% end %>
