<p class="m-0 font-weight-bold">Messages</p>
<div class="dropdown-divider"></div>
<% current_user.listings.each do |listing|%>
  <% listing.reservations.order(created_at: :desc).each do |reservation| %>
    <a class="font-weight-bold" href="/profile/<%=reservation.user_id%>"><%=User.find(reservation.user_id).name%></a> booked <a class="font-weight-bold" href="/listings/<%=reservation.listing_id%>"><%=Listing.find(reservation.listing_id).name%></a> for <%=reservation.days%>!
    <p class="tiny-font text-muted"><%=reservation.created_at%></p>
    <div class="dropdown-divider"></div>
  <% end %>
<% end %>
<% current_user.reservations.order(created_at: :desc).each do |reservation|%>
  You have booked <a class="font-weight-bold" href="/listings/<%=reservation.listing_id%>"><%=Listing.find(reservation.listing_id).name%></a> for <%=reservation.days%>!
  <p class="tiny-font text-muted"><%=reservation.created_at%></p>
<% end %>
