<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Update User ID <%= @user.id %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <%= form_for @user, url: superadmin_user_edit_path do |form| %>
  <div class="text-field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, type: 'first_name', placeholder: "#{@user.first_name}", class: 'form-control' %>
  </div>

  <div class="text-field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, type: 'last_name', placeholder: "#{@user.last_name}", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :gender %></br>
    <span class="option p-3">Male<span> <%= form.radio_button :gender, 1 %>
    <span class="option p-3">Female<span> <%= form.radio_button :gender, 2 %>
  </div>

  <div class="text-field form-group">
    <%= form.label :birthday %>
    <%= form.text_field :birthday, type: 'birthday', placeholder: "#{@user.birthday}", class: 'form-control', id: 'datepicker'%>
  </div>

  <div class="field form-group">
    <%= form.label :country %>
    <%= form.country_select :country, priority_countries = ["#{@user.country}"], options = {}, html_options = {:class => "form-control", :id => "user_country"} %>
  </div>

  <div class="text-field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', placeholder: "#{@user.email}", class: 'form-control' %>
  </div>

  <div class="text-field form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, type: 'phone', placeholder: "#{@user.phone}", class: 'form-control' %>
  </div>

  <div class="password-field form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="modal-footer">
    <%= form.submit "Save Changes", class: 'btn' %>
  </div>
  <% end %>
</div>
<script>
$('#datepicker').datepicker({
  uiLibrary: 'bootstrap4'
});
</script>
