<% if comment.rating == 0 %>
<div class="rating-box my-4">
  <ul id="star-rating" class="list-inline">
    <li class="list-inline-item star"><i data-value='1' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='2' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='3' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='4' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='5' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item">
      <p id="rate-text" class="text-muted m-0"></p>
    </li>
  </ul>
</div>

<% elsif comment.rating == 1 %>
<div class="rating-box my-4">
  <ul id="star-rating" class="list-inline">
    <li class="list-inline-item star"><i data-value='1' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='2' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='3' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='4' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='5' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item">
      <p id="rate-text" class="text-muted m-0"></p>
    </li>
  </ul>
</div>

<% elsif comment.rating == 2 %>
<div class="rating-box my-4">
  <ul id="star-rating" class="list-inline">
    <li class="list-inline-item star"><i data-value='1' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='2' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='3' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='4' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='5' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item">
      <p id="rate-text" class="text-muted m-0"></p>
    </li>
  </ul>
</div>

<% elsif comment.rating == 3 %>
<div class="rating-box my-4">
  <ul id="star-rating" class="list-inline">
    <li class="list-inline-item star"><i data-value='1' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='2' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='3' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='4' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='5' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item">
      <p id="rate-text" class="text-muted m-0"></p>
    </li>
  </ul>
</div>

<% elsif comment.rating == 4 %>
<div class="rating-box my-4">
  <ul id="star-rating" class="list-inline">
    <li class="list-inline-item star"><i data-value='1' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='2' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='3' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='4' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='5' id="star-<%=@listing.id%>" class="rate-star far fa-star"></i></li>
    <li class="list-inline-item">
      <p id="rate-text" class="text-muted m-0"></p>
    </li>
  </ul>
</div>

<% elsif comment.rating == 5 %>
<div class="rating-box my-4">
  <ul id="star-rating" class="list-inline">
    <li class="list-inline-item star"><i data-value='1' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='2' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='3' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='4' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item star"><i data-value='5' id="star-<%=@listing.id%>" class="rate-star fas fa-star"></i></li>
    <li class="list-inline-item">
      <p id="rate-text" class="text-muted m-0"></p>
    </li>
  </ul>
</div>
<% end %>
