<h5 class="font-weight-bold mb-4 text-center">Search Result: "<%=params[:search]%>"</h5>

  <%=form_tag(search_user_path , method: :get, remote:true, class: "d-flex justify-content-center") do %>
  <%= text_field_tag(:search, params[:search], class: "shadow-sm form-control m-3 mb-5  w-50", placeholder: "Search anything...") %>
  <% end %>

<div class="d-flex flex-row">
  <div class="px-2  tiny-font font-weight-bold">ID</div>
  <div class="px-2  tiny-font col-2 font-weight-bold">First Name</div>
  <div class="px-2  tiny-font col-2 font-weight-bold">Last Name</div>
  <div class="px-2  tiny-font col-1 font-weight-bold">Birthday</div>
  <div class="px-2  tiny-font col-3 font-weight-bold">Email</div>
  <div class="px-2  tiny-font col-2 font-weight-bold">Phone</div>
  <div class="px-2  tiny-font col-1 font-weight-bold">Country</div>
  <div class="px-2  tiny-font col-1 font-weight-bold">Profile</div>
</div>
<hr/>
<% User.search_by_full_name(params[:search]).each do |user|%>
<div class="d-flex flex-row">
  <div class="px-2 tiny-font "><a href='/users/<%=user.id%>'><%=user.id%></a></div>
  <div class="px-2 tiny-font  col-2"><%=user.first_name%></div>
  <div class="px-2 tiny-font  col-2"><%=user.last_name%></div>
  <div class="px-2 tiny-font  col-1"><%=user.birthday%></div>
  <div class="px-2 tiny-font  col-3"><%=user.email%></div>
  <div class="px-2 tiny-font  col-2"><%=user.phone%></div>
  <div class="px-2 tiny-font  col-1"><%=user.country%></div>
  <div class="px-2 tiny-font  col-1"><a href='/profile/<%=user.id%>'>Link</a></div>
</div>
</div>
<hr/>
<% end %>
