<h5 class="font-weight-bold mb-4 text-center">Unverified Listings</h5>
<%=form_tag(search_listing_path , method: :get, remote:true, class: "d-flex justify-content-center") do %>
<%= text_field_tag(:search, params[:search], class: "shadow-sm form-control m-3 mb-5  w-50", placeholder: "Search by Name") %>
<% end %>
<div class="d-flex flex-row">
  <div class="px-2  tiny-font font-weight-bold">ID</div>
  <div class="px-2  tiny-font col-2 font-weight-bold">Name</div>
  <div class="px-2  tiny-font col-2 font-weight-bold">Property Type</div>
  <div class="px-2  tiny-font col-1 font-weight-bold">Country</div>
  <div class="px-2  tiny-font col-1 font-weight-bold">State</div>
  <div class="px-2  tiny-font col-1 font-weight-bold">Price</div>
  <div class="px-2  tiny-font col-2 font-weight-bold">Host</div>
  <div class="px-2  tiny-font col-1 font-weight-bold">Verify</div>
</div>
<hr/>
<% Listing.where(verified: false).each do |listing|%>
    <div class="d-flex flex-row">
      <div class="px-2  tiny-font font-weight-bold"><%=listing.id%></div>
      <div class="px-2  tiny-font col-2"><%=listing.name%></div>
      <div class="px-2  tiny-font col-2"><%=listing.property_type%></div>
      <div class="px-2  tiny-font col-1"><%=listing.country%></div>
      <div class="px-2  tiny-font col-1"><%=listing.state%></div>
      <div class="px-2  tiny-font col-1"><%=number_to_currency(listing.price, unit: '$')%></div>
      <div class="px-2  tiny-font col-2"><%=listing.user.name%></div>
      <%=check_box("listings","verified", {id: "verify-listing-#{listing.id}", class: 'px-2  tiny-font col-1'}, true, false)%>
    </div>
    <hr/>
    <script>
    $('#verify-listing-<%=listing.id%>').change(function(){
      if (this.checked){
        $.ajax({
          type: 'POST',
          url: '/unverified_listings/<%=listing.id%>/verify/true',
          data: {verified: this.checked},
          success: function(data){
            alert('Listing ID <%=listing.id%> has been verified!');
            $(this).submit();
          }
        })
      }
    })
    </script>
<% end %>
