<h3 class="font-weight-bold mb-4">All Users</h3>
<div class="row">
  <div class="col-1 font-weight-bold">ID</div>
  <div class="col-1 font-weight-bold">First Name</div>
  <div class="col-1 font-weight-bold">Last Name</div>
  <div class="col-2 font-weight-bold">Birthday</div>
  <div class="col-2 font-weight-bold">Email</div>
  <div class="col-1 font-weight-bold">Phone</div>
  <div class="col-2 font-weight-bold">Country</div>
  <div class="col-2 font-weight-bold">Remove</div>
</div>
<hr/>
<% User.all.each do |user|%>
<div class="row">
  <div class="col-1"><a href='/users/<%=user.id%>'><%=user.id%></a></div>
  <div class="col-1"><%=user.first_name%></div>
  <div class="col-1"><%=user.last_name%></div>
  <div class="col-2"><%=user.birthday%></div>
  <div class="col-2"><%=user.email%></div>
  <div class="col-1"><%=user.phone%></div>
  <div class="col-2"><%=user.country%></div>
  <div class="col-2">
    <ul class="list-inline">
      <li class="list-inline-item">
        <button id="update-user-<%=user.id%>" class="btn btn-link">Edit</button>
      </li>
      <li class="list-inline-item">
        <%= link_to 'Delete', delete_user_path(user.id), remote: true, data: { target: "#user-modal", toggle: 'modal' }, class: 'btn-link' %>
      </li>
    </ul>
  </div>
</div>
</div>
<hr/>
<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="deleteUser" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
<% end %>
