<div id="listings">
  <ul class="list-inline">
    <% @price.page(params[:page]).each do |home|%>
    <li class="list-inline-item">
      <div id="home-card-<%=home.id%>" class="card first p-0 m-2 shadow-sm btn">
        <!-- Carousel -->
        <% if home.photos? == true %>
            <div id="carousel-<%=home.id%>" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <% home.photos.each_with_index do |photo, index| %>
                    <% if index == 0 %>
                        <div class="carousel-item active">
                          <div class="img-box">
                            <%=image_tag(photo.thumb_large.url, class: 'd-block w-100', style: 'max-width: 300px; max-height: 200px;')%>
                          </div>
                        </div>
                    <% else %>
                        <div class="carousel-item">
                          <div class="img-box">
                            <%=image_tag(photo.thumb_large.url, class: 'd-block w-100', style: 'max-width: 300px; max-height: 200px;')%>
                          </div>
                        </div>
                    <% end %>
                <%end%>
              </div>
              <a class="carousel-control-prev" href="#carousel-<%=home.id%>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-<%=home.id%>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        <% else %>
        <%=image_tag('default2.jpg', class: 'd-block w-100', style: 'max-width: 300px; max-height: 200px;')%>
        <% end %>
        <!-- Details -->
        <div class="card-body" data-toggle='modal' data-target='#home-info-box-<%=home.id%>'>
          <p class="card-subtitle text-muted"><%=home.property_type%></p>
          <ul class="list-inline">
            <li class="list-inline-item"><p class="card-title font-weight-bold mb-2"><%=home.name%></p></li>
            <% if home.verified %>
            <li class="list-inline-item">
              <i id="verified-badge-thumbnail" class="fas fa-check-circle text-success"></i>
            </li>
            <% end %>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fas fa-user"></i> <%=home.guest_number%></li>
            <li class="list-inline-item"><i class="fas fa-bed"></i> <%=home.room_number%></li>
            <li class="list-inline-item"><i class="fas fa-bath"></i> <%=home.bathroom_number%></li>
          </ul>
          <p class="card-text">From <%=number_to_currency(home.price, unit: "$", precision: 0)%> a night</p>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </li>
    <!-- Modal -->
    <div class="modal fade" id="home-info-box-<%=home.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"><%=home.name%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><%=home.property_type%></p>
            <p><%=home.description%></p>
            <p><%=home.address%></p>
            <p><%=home.state%></p>
            <p><%=home.city%></p>
            <p><%=home.zipcode%></p>
            <p><%=home.country%></p>
            <p><%=number_to_currency(home.price, unit: '$')%></p>
            <p><%=home.user.name%></p>
          </div>
          <div class="modal-footer">
            <a href="/listings/<%=home.id%>">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
</div>
<div class="nav-link mx-auto d-block">
<%= paginate @pagination %>
</div>
