<% content_for :navbar do %>
  <% if signed_in? %>
    <%= render partial: "shared/navbar" %>
  <% else %>
    <%= render partial: "shared/navbar-index" %>
  <% end %>
<% end %>
<%=form_tag(dome_index_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search], class: "searchbox-sm shadow-sm form-control mb-4", placeholder: "Search anything...") %>
<% end %>

<!-- Filter Bar -->
<div id="attrBar" class="container-fluid p-3">
  <ul class="list-inline m-0">
    <li class="list-inline-item">
      <!-- Show All -->
      <%=link_to "Show All", show_all_path, remote:true, class: 'btn btn-outline-secondary'%>
    </li>
    <li class="list-inline-item">
      <!-- Place -->
      <div class="dropdown">
        <button class="btn btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Place
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=link_to "Apartment", show_place_type_path(1), remote:true, class: 'dropdown-item'%>
          <%=link_to "House", show_place_type_path(2), remote:true, class: 'dropdown-item'%>
          <%=link_to "Secondary Unit", show_place_type_path(3), remote:true, class: 'dropdown-item'%>
          <%=link_to "Unique Space", show_place_type_path(4), remote:true, class: 'dropdown-item'%>
          <%=link_to "Boutique Hotel", show_place_type_path(5), remote:true, class: 'dropdown-item'%>
        </div>
      </div>
    </li>

    <li class="list-inline-item">
      <div class="dropdown">
        <!-- Guests -->
        <button class="btn btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Guests
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%=link_to "1-5", show_by_guests_path(no1:1,no2:5), remote:true, class: 'dropdown-item'%>
            <%=link_to "6-10", show_by_guests_path(no1:6,no2:10), remote:true, class: 'dropdown-item'%>
            <%=link_to "11-15", show_by_guests_path(no1:11,no2:15), remote:true, class: 'dropdown-item'%>
            <%=link_to "16-20", show_by_guests_path(no1:16,no2:20), remote:true, class: 'dropdown-item'%>
          </div>
      </div>
    </li>

    <li class="list-inline-item">
      <div class="dropdown">
        <!-- Price -->
        <button class="btn btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Price
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%=link_to "< $100", show_by_price_path(no1:1,no2:100), remote:true, class: 'dropdown-item'%>
            <%=link_to "$101 - $500", show_by_price_path(no1:101,no2:500), remote:true, class: 'dropdown-item'%>
            <%=link_to "$501 - $1000", show_by_price_path(no1:501,no2:1000), remote:true, class: 'dropdown-item'%>
            <%=link_to "> $1000", show_by_price_path(no1:1000,no2:2000), remote:true, class: 'dropdown-item'%>
          </div>
      </div>
    </li>

    <li class="list-inline-item">
      <div class="dropdown">
        <!-- Dates -->
        <!-- WORK IN PROGRESS -->
        <button class="btn btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dates
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            Hi
          </div>
      </div>
    </li>

    <li class="list-inline-item">
      <div class="dropdown">
        <!-- Instant Book -->
        <!-- Optional, not finalize -->
        <button class="btn btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Instant Book
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            Hello
          </div>
      </div>
    </li>

    <li class="list-inline-item">
      <div class="dropdown">
        <!-- More to be added soon here -->
        <button class="btn btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Filters
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            Wat
          </div>
      </div>
    </li>
  </ul>
</div>
<div class="background-keep">
  <!-- If search is not used, this will be populated by all -->
  <div id="dome-content" class="mt-4">
      <% if params[:search] %>
        <%=render partial: 'dome/search', locale: @listings %>
      <% else %>
        <%=render partial: 'dome/show_all'%>
      <% end %>
  </div>
</div>
