<% content_for :navbar do %>
  <% if signed_in? %>
    <%= render partial: "shared/navbar" %>
  <% else %>
    <%= render partial: "shared/navbar-index" %>
  <% end %>
<% end %>
<div id="attrBar" class="container-fluid p-3">
  <ul class="list-inline m-0">
    <li class="list-inline-item">
      <%=link_to "Show All", dome_index_path, class: 'btn btn-outline-secondary'%>
    </li>
    <li class="list-inline-item">
      <div class="dropdown">
        <button class="btn btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Place
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=link_to "Apartment", show_place_type_path(1), remote:true, class: 'dropdown-item'%>
          <%=link_to "House", show_place_type_path(2), remote:true, class: 'dropdown-item'%>
          <%=link_to "Secondary Unit", show_place_type_path(3), remote:true, class: 'dropdown-item'%>
          <%=link_to "Unique Space", show_place_type_path(4), remote:true, class: 'dropdown-item'%>
          <%=link_to "Boutique Hotel", show_place_type_path(5), remote:true, class: 'dropdown-item'%>
        </div>
      </div>
    </li>
    <li class="list-inline-item">
      <div class="dropdown">
        <button class="btn btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Guests
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%=link_to "1-5", show_by_guests_path(no1:1,no2:5), remote:true, class: 'dropdown-item'%>
            <%=link_to "6-10", show_by_guests_path(no1:6,no2:10), remote:true, class: 'dropdown-item'%>
            <%=link_to "11-15", show_by_guests_path(no1:11,no2:15), remote:true, class: 'dropdown-item'%>
            <%=link_to "16-20", show_by_guests_path(no1:16,no2:20), remote:true, class: 'dropdown-item'%>
          </div>
      </div>
    </li>
  </ul>
</div>
<div class="background-keep">
  <div id="dome-content">
    <%= render partial: 'dome/all_listings' %>
  </div>

</div>
