<div class="container-fluid mx-0 my-4 p-0">
  <h5 class="font-weight-bold">Best Reviewed Homes</h5>
  <ul class="list-inline">
    <% Listing.where(place_type: '6').limit(5).order(created_at: :desc).each do |restaurant|%>
    <li class="list-inline-item">
      <div id="restaurant-card-<%=restaurant.id%>" class="card first p-0 m-2 shadow-sm btn" data-toggle='modal' data-target='#restaurant-info-box-<%=restaurant.id%>'>
        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/assets/restaurant.jpg" style="max-width: 300px; max-height: 200px;" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/restaurant.jpg" style="max-width: 300px; max-height: 200px;" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/restaurant.jpg" style="max-width: 300px; max-height: 200px;" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- Details -->
        <div class="card-body">
          <p class="card-subtitle text-muted"><%=restaurant.property_type%></p>
          <p class="card-title font-weight-bold mb-2"><%=restaurant.name%></p>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fas fa-user"></i> <%=restaurant.guest_number%></li>
            <li class="list-inline-item"><i class="fas fa-bed"></i> <%=restaurant.room_number%></li>
            <li class="list-inline-item"><i class="fas fa-bath"></i> <%=restaurant.bathroom_number%></li>
          </ul>
          <p class="card-text">From <%=number_to_currency(restaurant.price, unit: "RM")%> a meal</p>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </li>
    <div class="modal fade" id="restaurant-info-box-<%=restaurant.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"><%=restaurant.name%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><%=restaurant.property_type%></p>
            <p><%=restaurant.description%></p>
            <p><%=restaurant.address%></p>
            <p><%=restaurant.state%></p>
            <p><%=restaurant.city%></p>
            <p><%=restaurant.zipcode%></p>
            <p><%=restaurant.country%></p>
            <p><%=number_to_currency(restaurant.price, unit: '$')%></p>
            <p><%=restaurant.user.name%></p>
          </div>
          <div class="modal-footer">
            <a class="">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
  <a class="">See All ></a>
</div>
