<head>
   <%= stylesheet_link_tag "home" if controller_name == "home" %>
</head>

<% content_for :navbar do %>
  <% if signed_in? %>
    <%= render partial: "shared/navbar" %>
  <% else %>
    <%= render partial: "shared/navbar-index" %>
  <% end %>
<% end %>

<div id="home-box" class="container-fluid background-keep my-5 p-0">
  <!-- Explore Selldome -->
  <%= render partial: '/home/explore'%>

  <!-- Home -->
  <%= render partial: '/home/homes'%>

  <!-- Verified -->
  <%= render partial: '/home/top-rated-homes'%>
</div>
<script>
$(window).scroll(function() {
  if($(window).scrollTop() + $(window).height() == $(document).height()) {
    $.ajax({
      url: "/home/load"
    })
    .done(function(data){
      $('#home-box').append(data);
    })
  }
});
</script>
