<head>
   <%= stylesheet_link_tag "home" if controller_name == "home" %>
</head>

<% content_for :navbar do %>
  <% if signed_in? %>
    <%= render partial: "shared/navbar" %>
  <% else %>
    <%= render partial: "shared/navbar-index" %>
  <% end %>
<% end %>
<%=form_tag(dome_index_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search], class: "searchbox-sm shadow-sm form-control", placeholder: "Search anything...") %>
<% end %>
<div id="home-box" class="container-fluid background-keep my-5 p-0">
  <!-- Explore Selldome -->
  <%= render partial: '/home/explore'%>

  <!-- Home -->
  <%= render partial: '/home/homes'%>

  <!-- Verified -->
  <%= render partial: '/home/top-rated-homes'%>
</div>

<div class="d-flex justify-content-center">
  <%=link_to home_path, remote: true do %>
    <i class="display-4 text-danger fas fa-angle-down"></i>
  <%end%>
</div>
