<div class="simple-calendar d-flex">
  <div class="">
    <div class="calendar-heading text-center">
      <%= link_to t('simple_calendar.previous', default: '< '), calendar.url_for_previous_view, remote:true %>
      <span class="calendar-title font-weight-bold mx-3 mb-3 "><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <%= link_to t('simple_calendar.next', default: ' >'), calendar.url_for_next_view, remote:true %>
    </div>

    <table class="table text-center ">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th><%= t('date.abbr_day_names')[day.wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td,data: {value:"#{day}"}, id: "day-#{day.day}",class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                <% else %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
                <script>
                  $("#day-<%=day.day%>").one('click', function(){
                    let day = $(this).data('value')
                      $(this).toggleClass('start-date bg-danger text-white');
                      $('input[name="reservation[start_time]"]').val(day);
                  })
                </script>

              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
