<div class="card">
  <h5 class="card-title m-0 p-3 text-center bg-light">Change Password</h5>
  <div class="card-body">
    <%=form_for @user, url: user_account_settings_password_update_path(@user.id), method: :patch do |f| %>
      <div class="password-field form-group row">
        <%= f.label 'Old Password', class: 'col-lg-4 col-form-label'%>
        <div class="col">
          <%= f.password_field :old_password, class: 'form-control' %>
        </div>
      </div>
      <div class="password-field form-group row">
        <%= f.label :new_password, class: 'col-lg-4 col-form-label'%>
        <div class="col">
          <%= f.password_field :new_password, class: 'form-control' %>
        </div>
      </div>
      <div class="password-field form-group row">
        <%= f.label "Confirm Password", class: 'col-lg-4 col-form-label'%>
        <div class="col">
          <%= f.password_field :confirm_password, class: 'form-control' %>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="form-group m-0">
        <%= f.submit "Change Password", class: 'btn btn-secondary d-inline-block' %>
      </div>
    </div>
    <%end%>
</div>
